---
const facebookUrl = 'https://www.facebook.com/poressar/';
const instagramUrl = 'https://www.instagram.com/poressar/';
const astroUrl = 'https://astro.build/';
const netlifyUrl = 'https://www.netlify.com/';

const socialIcons = [
  {
    name: 'facebook',
    url: facebookUrl,
  },
  {
    name: 'instagram',
    url: instagramUrl,
  },
];
---

<footer>
  <div class="copywright-wrapper">
    <div class="copywright">
      <div>Copyright © 2022</div>
      <div class="tech-stack">
        <span class="built-text">
          Built with
          <a href={astroUrl} target="_blank" rel="noopener noreferrer">
            <img
              class="icon"
              src="/astro-logo.svg"
              alt="astro logo"
              width="24"
              height="24"
            />
          </a>
          and <span>❤️</span>
          <span>hosted by</span>
          <a href={netlifyUrl} target="_blank" rel="noopener noreferrer">
            <img
              src="/netlify-logo.svg"
              alt="netlify logo"
              width="59"
              height="16"
            />
          </a>
        </span>
        <span class="location">Budapest, Hungary</span>
      </div>
    </div>
    <!-- <div class="legal-text">Minden jog fenntartva</div> -->
  </div>
  <ul class="social-icons">
    {
      socialIcons.map(icon => {
        return (
          <li class="icon">
            <a href={icon.url} target="_blank" rel="noopener noreferrer">
              <img
                src={`/${icon.name}-logo.svg`}
                alt={icon.name}
                title={icon.name}
                width="26"
                height="26"
                loading="lazy"
              />
            </a>
          </li>
        );
      })
    }
  </ul>
</footer>

<style lang="scss">
  footer {
    margin-top: auto;
    display: flex;
    gap: 1rem;
    padding: 2rem 0.5rem;
    font-size: 12px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-family-secondary);
    background-color: var(--color-footer);
    color: #fff;

    .copywright-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .legal-text {
        font-size: 12px;
      }
    }

    .copywright {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .tech-stack {
      position: relative;
      flex-direction: column;
      display: inline-flex;
      gap: 10px;

      .built-text {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        user-select: none;
      }
      .built-text,
      .location {
        position: relative;
        align-self: center;

        &:before {
          display: none;
          position: absolute;
          content: '';
          height: 20px;
          width: 1px;
          background-color: #fff;
          left: -8px;
          top: 0;
        }
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .icon {
        transition: var(--base-transform-transition);

        &:hover {
          transform: scale(1.3);
        }
      }

      a:focus {
        outline-color: var(--color-footer-focus);
      }
    }
  }

  @media screen and (min-width: 700px) {
    footer {
      flex-direction: row;
      gap: unset;
      text-align: left;
      padding: 1.5rem 7rem;

      .copywright-wrapper {
        justify-content: flex-start;
      }

      .copywright {
        flex-direction: row;
        gap: 1rem;
      }
      .tech-stack {
        flex-direction: row;
        gap: 1rem;

        .built-text,
        .location {
          &:before {
            display: block;
          }
        }
      }
    }
  }
</style>
