---
const shops = [
  {
    name: 'Hype and Hyper',
    url: 'https://hypeandhyper.com/',
    src: 'hypeandhyper',
    width: 40,
    height: 40,
  },
  {
    name: 'ISBN',
    url: 'https://www.isbnbooks.hu/',
    src: 'isbn',
    width: 46,
    height: 40,
  },
  {
    name: 'Írók boltja',
    url: 'https://irokboltja.hu/',
    src: 'irokboltja',
    width: 153,
    height: 43,
  },
  {
    name: 'Urbanum',
    url: 'https://urbanum.hu/',
    src: 'urbanum',
    width: 159,
    height: 43,
  },
];
---

<section class="purchase">
  <h2 class="main-title">Főváros nevezetességei másképp</h2>
  <article class="purchase-wrapper">
    <div class="image-wrapper">
      <img
        src="/por-es-sar-cover.jpg"
        alt="Por és sár füzetének borítója"
        loading="lazy"
      />
    </div>
    <div class="card">
      <a href="mailto:poressar@gmail.com" class="cta">
        Írj nekem
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          viewBox="0 0 24 24"
        >
          <path
            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
          ></path>
          <path d="m22 6-10 7L2 6"></path>
        </svg>
      </a>
      <span class="divider">vagy</span>
      <h3>
        <strong>Vásárold meg</strong><br />
        <span>az alábbi helyek egyikében</span>
      </h3>
      <ul class="shops">
        {
          shops.map(shop => {
            return (
              <li class="shop">
                <a href={shop.url} target="_blank" rel="noopener noreferrer">
                  <img
                    src={`/purchase-${shop.src}-logo.webp`}
                    alt={shop.name}
                    height={shop.height}
                    width={shop.width}
                  />
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </article>
  <p class="text">
    A füzetben a főváros jól ismert helyeit és alkotásait mutatom be 1873 és
    1918 között megjelent szövegek segítségével, egy sajátos nézőpontból: nem a
    megszokott, feltétlen csodálat és kötelező áhítat nevében, vagy sosem
    hallott titkok feltárásának céljából, hanem hogy láthatóvá tegyem,
    elődeinknek mi nem tetszett és miért nem tetszett a fokozatosan világvárossá
    váló Budapesten.
  </p>
</section>

<style lang="scss" scoped>
  .purchase {
    padding: 4rem 1.25rem;
    margin: 0 auto;
    background-color: var(--color-purchase);

    .purchase-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .image-wrapper {
        position: relative;
        max-width: 480px;
        width: 100%;
        border-radius: var(--border-radius-normal);
        isolation: isolate;

        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 50%;
          left: -3rem;
          width: 300px;
          height: 300px;
          transform: translateY(-50%);
          background-image: url('/rectangle-grid--yellow.svg');
          animation: horizontalMovement 4s ease-in infinite backwards;
          will-change: auto;
        }

        @keyframes horizontalMovement {
          0%,
          100% {
            transform: translate(0.5rem, -50%);
          }

          50% {
            transform: translate(-0.5rem, -50%);
          }
        }

        img {
          border-radius: inherit;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 2.5rem;
      border-radius: var(--border-radius-normal);
      gap: 2rem;
      max-width: 400px;
      width: 100%;
      color: var(--color-primary);
      background-color: var(--color-background);

      h3 {
        text-align: center;
        font-family: var(--font-family-secondary);

        strong {
          font-size: clamp(1.1rem, 1.375rem, 1575rem);
        }

        span {
          font-size: 1rem;
          font-weight: 400;
        }
      }

      .shops {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .shop {
          a {
            display: block;
            padding: 0.1rem 0.2rem;
            overflow: hidden;

            &:focus {
              outline: 1px dashed var(--color-primary);
              border-radius: var(--border-radius-small);
            }
          }
        }
      }

      .divider {
        position: relative;
        font-family: var(--font-family-secondary);
        font-size: 22px;
        line-height: 34px;
        text-align: center;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          width: 100%;
          height: 1px;
          background-color: var(--color-primary);
        }

        &:before {
          left: 5rem;
          top: 50%;
          transform: translateY(50%);
        }

        &:after {
          right: 5rem;
          top: 50%;
          transform: translateY(50%);
        }
      }

      .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        min-width: 100%;
        font-size: clamp(1.3rem, 1.6rem, 1.9rem);

        svg {
          width: 20px;
        }
      }
    }

    .text {
      max-width: 50rem;
      margin: 4rem auto 0;
      font-family: var(--font-family-secondary);
      font-size: clamp(1.15rem, 1.125rem, 1.55rem);
      line-height: 1.6;
      color: var(--color-primary);
    }
  }

  @media screen and (min-width: 1000px) {
    .purchase {
      padding: 8rem 7rem 7rem;
      .purchase-wrapper {
        flex-direction: row;
      }
    }
  }
</style>
